<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CinO'Clock</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav class="navbar">
			<h1 class="navbar-title">CinO'Clock</h1>
			<ul class="navbar-menu">
				<li class="navbar-menuitem"><a class="navbar-link" href="/">Accueil</a></li>
				<li class="navbar-menuitem"><a class="navbar-link" href="/dogs">Nos chiens</a></li>
			</ul>
		</nav>

		<div class="container">
