<%- include('./partials/header.ejs') %>

<div class="home">
	<img src="./img/home.jpg" alt="Deux chiots adorables dans un panier" class="home-pic shadow" />
</div>
<div class="hero">CinO'Clock, l'espace pour les passionnés des canidés les mim's du game chez O'Clock !</div>

<%- include('partials/footer.ejs') %>
